<template>
  <section
    class="hero w-100"
    :style="{ backgroundImage: `url(${slice.primary.backgroundImage.url})` }"
  >
    <div class="container mx-auto h-100">
      <div class="row flex-column h-100 align-items-center justify-content-center">
        <div class="col-12 text-white text-center">
          <prismic-rich-text :field="slice.primary.title" class="title" />
        </div>
        <div class="col-12 text-white text-center">
          <prismic-rich-text :field="slice.primary.description" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
};
</script>

<style scoped>
.hero {
  height: 100vh;
  background-position: center center;
  background-size: cover;
}
</style>
