<template>
  <SliceZone
    type="page"
    uid="home"
  />
</template>

<script>
import SliceZone from "vue-slicezone";
export default {
  name: "Home",
  components: {
    SliceZone,
  },
  data() {
    return {
    };
  },
  head() {
    return {
      title: this.document.meta_title,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.document.meta_description,
        },
      ],
    };
  },
  async asyncData({ $prismic, error }) {
    const document = (await $prismic.api.getByUID('page', 'home'))
      .data
    if ((document)) {
      return { document }
    } else {
      error({ statusCode: 404, message: 'Page not found' })
    }
  },
};
</script>

<style></style>
